@{
    ViewData["Title"] = "Sacrament Meeting Planner";
}

<div class="home_pg">
        <a href="https://www.churchofjesuschrist.org/?lang=eng"><img src="img\home.jpg"  /></a>
        <h1 class="display-4">Sacrament Meeting Planner</h1>
</div>

