@{
    ViewData["Title"] = "Sacrament Meeting Planner";
}

<div class="home_pg">
        <a href="https://www.churchofjesuschrist.org/?lang=eng"><img src="img\christus_statue_visitors_center.jpeg"  /></a>
        <h1 class="display-4">Plan your Sacrament Meeting</h1>
        <p>Welcome to our Sacrament Builder Page. From this site you will be able to add your Sacrament meeting and organize your itinerary for that meeting.</p>
</div>

