@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');

div.container, a, p {
    font-family: 'Poppins', 'Raleway';
    font-size: 1rem;
    font-weight: 400;
    color: var(--bs-gray-200);
}


h1, h2, h3, h4, h5 {
    color: black;
    font-family: 'Roboto', Poppins;
}
.form-topper{
    margin-top:1rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    background-image: url('/img/chapel.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: #b0c2c6;
    opacity: .75;
    padding: 2em;
    color: black;
}


header, footer {
    background-color: #0d2330;
    color: #f6fcfa;
    padding: 1rem;
}

div.home_pg {
    display: grid;
    grid-gap: 2%;
    place-items: center;
    margin: 1rem;
}

div.home_pg img {
    width: 25%;
}

div.home_pg a {
    text-align:center;
}

.nav-link {
    font-size: 1.2rem;
    color: var(--bs-gray-200);
}

    .nav-link:hover {
        color: var(--bs-gray-200);
        font-weight: 900;
    }

    .nav-link:visited {
        color: var(--bs-gray-200);
    }

label{
    margin-top: .5rem;
}

.btn {
    background-color: #0d2330;
    margin-top: .5rem;
    color: #F2EFDF;
}

    .btn:hover {
        background-color: #F2EFDF;
        color: #0d2330;
    }

div.formA {
    margin-top: .5rem;
     
}

a:hover {
    color: white;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


div.sacramentSheet div{
    text-align: center;

}

div.sacramentSheet {
    background-color: #fff;
    border: 2px solid #000000;
    color: #000000;
    width: 50%;
    margin: auto;
    display: none;
}

div.sacramentSheet.printShow {
    display: revert;
    padding: 1.5rem;
}


.wardInfo {
    font-size: 12px;
    margin: .25rem;
}

.wardName {
    font-size: 18px;
    margin-top: .5rem;
    margin-bottom: -0.05rem
}

.meetingBody {
    padding: 3rem;
}

.meetingBody h3 {
    font-size: 1rem;
    text-align: left;
}

div.meetingBody {
    padding: 0.5rem 0;
}

div.sacramentSheet div.meetingBody div {
    padding: .5rem 0
}
